
.video-ratio {
  --border-width: 3px;
  position: relative;


  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 64%, 27%),
      hsl(269, 60%, 24%),

      hsl(179, 54%, 31%),
      hsl(234, 70%, 40%),
      
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 10s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

